version: '{build}'
branches:
  only:
  - master
os: Visual Studio 2017
configuration: Release
platform: Any CPU
init:
- cmd: git config --global core.autocrlf true
nuget:
  disable_publish_on_pr: true
build:
  project: source\VirtualDesktop.sln
  publish_nuget: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: GrOjr849MkxFz3v7VSIvDNd0ZNZDaUTDeHqRF0InDLzMSuFoDmrqiMaKtIz0MxG8