<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LivetCask" version="1.1.0.0" targetFramework="net46" />
  <package id="MetroRadiance" version="1.1.0.0" targetFramework="net46" />
  <package id="MetroRadiance.Chrome" version="1.1.0.0" targetFramework="net46" />
  <package id="MetroRadiance.Core" version="1.1.0.0" targetFramework="net46" />
</packages>